@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @UserManager.GetUserName(User)
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-end">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <form class="px-2" asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="btn btn-danger w-100">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <a class="btn btn-primary text-white rounded-circle me-2" asp-controller="login" asp-action="Index">
            <i class="bi bi-box-arrow-in-right"></i>
        </a>
    }
</ul>
