@{
  ViewData["Title"] = "Error";
}

<div class="container py-5 my-5">
  <h1 class="display-3">
    <span class="fw-bold text-muted">@ViewBag.ErrorCode</span><br>
    @ViewBag.ErrorMsg
  </h1>
</div>